
        <div class="table-responsive" style="height: 800px;" ng-controller="automezziCtrl">
            <div style="display: inline;margin-right: 20px;margin-left: 20px;">CERCA</div>
            <input type="text" ng-model="search.targa" placeholder="Targa">
           
            
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-top: 10px;">
                <thead>
                  <tr>
                    <th>Targa</th>
                    <th>Posti</th>
                    <th>Disponibile</th>
                    <th>Capacità</th>
                    <th>Modifica</th>
                    <th>Rimuovi</th>
                  </tr>
                </thead>
               
                <tbody>
                    <tr ng-repeat="temp in data | filter:search">
                    <td>{{temp.targa}}</td>
                    <td>{{temp.posti}}</td>
                    <td>{{temp.disponibile}}</td>
                    <td>{{temp.capacita}}</td>
                    <td><a class="btn btn-primary" href="#!/login">Modifica</a></td>
                    <td><a class="btn btn-primary" data-toggle="modal" data-target="#rimuoviMezzo">Rimuovi</a></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
        

            <div class="modal fade" id="rimuoviMezzo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sicuro dell'operazione scelta?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">Se scegli di procedere il mezzo sarà eliminato.</div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" href="/partials/user/login.html">Procedi</a>
                  </div>
                </div>
              </div>
            </div>