
        <div class="table-responsive" style="height: 800px;" ng-controller="operatoriCtrl">
            <div style="display:table; margin: 0 auto;"><p>OPERATORI</p></div>
            <div style="display: inline;margin-right: 20px;margin-left: 20px;">CERCA</div>
            <input type="text" ng-model="search.nome" placeholder="Nome">
            <input type="text" ng-model="search.cognome" placeholder="Cognome">
            
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-top: 10px;">
                <thead>
                  <tr>
                      <th>ID</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Richieste assegnate</th>
                    <th>Segnalazioni assegnate</th>
                    <th>Rimuovi operatore</th>
                  </tr>
                </thead>
              <tbody>
                
                  <tr ng-repeat="temp in data | filter:search">
                      <td>{{temp.id}}</td>
                      <td>{{temp.nome}}</td>
                      <td>{{temp.cognome}}</td>
                      <td>{{temp.richieste}}</td>
                      <td>{{temp.segnalazioni}}</td>
                    <td><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalsa" ng-click="setEliminaOperatore(temp.id)">RIMUOVI OPERATORE</a></td>
                  </tr>
              
                </tbody>
              </table>
            </div>


            <div class="modal fade" id="exampleModalsa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sicuro dell'operazione scelta?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">Se scegli di procedere l'operatore sarà rimosso dal sistema.</div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" ng-click="confermaRemoveOperatore()">Procedi</a>
                  </div>
                </div>
              </div>
            </div>