<div class="table-responsive" style="height: 800px;" ng-controller="segnalazioniCtrl">
  <div style="display:table; margin: 0 auto;">
    <p>SEGNALAZIONI</p>
  </div>
  <div style="display: inline;margin-right: 20px;margin-left: 20px;">CERCA</div>
  <input type="text" ng-model="search.id" placeholder="id">


  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-top: 10px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data [ Giorno/Mese/Anno ]</th>
        <th>Foto</th>
        <th>Cordinate</th>
        <th>Descrizione</th>
        <th>Stato</th>
        <th>Assegna</th>
        <th>Elimina</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="temp in data | filter:search">
        <td>{{temp.id}}</td>
        <td>{{temp.data}}</td>
        <td>
          <img  ng-click="openImage(temp.immagine)" style="height: 50px; width: 50px" ng-src="{{temp.immagine}}">
        </td>
        <td>{{temp.cordinate}}</td>
        <td>{{temp.descrizione}}</td>
        <td>{{temp.status}}</td>
        <td>
          <a class="btn btn-primary" data-toggle="modal" data-target="#assegnaSegnalazioni" ng-click="bindaOperatorePerSegnalazione(temp.id)">ASSEGNA</a>
        </td>
        <td>
          <a class="btn btn-primary" data-toggle="modal" data-target="#rimuoviSegnalazioni">ELIMINA</a>
        </td>
      </tr>

    </tbody>
  </table>
</div>



<div class="modal fade" id="rimuoviSegnalazioni" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sicuro dell'operazione scelta?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Se scegli di procedere la segnalazione sarà eliminata.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
        <a class="btn btn-primary" href="/partials/user/login.html">Procedi</a>
      </div>
    </div>
  </div>
</div>
<script>
  
</script>
<div id="imageContainer" style="display:none;width: 50%;height: 60%; position: absolute;z-index:10;background-color: white;top:100px">
  <button style="width: 100%" ng-click="closeImage()">X</button>
<div style="width: 100%;min-height:400px;">
  <img id="reportingImage" src="" alt="" style="min-width: 100%; min-height: 100%;border:1px solid #DDD">
</div>
</div>
<div class="modal fade" id="assegnaSegnalazioni" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Scegli gli operatori a cui vuoi affidare questo compito.</h5>
        <button id="repoAssClose" class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-top: 10px;">
              <thead>
                <tr>
                  <th>Richiedi</th>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Cognome</th>
                </tr>
              </thead>
            <tbody>
              
                <tr ng-repeat="temp in operator | filter:search">
                    <td><input id="{{temp.idop}}opReporting" type="checkbox"  ng-click="setOperatoreSceltoPerSegnalazione(temp.idop)"></td>
                    <td>{{temp.idop}}</td>
                    <td>{{temp.nomeop}}</td>
                    <td>{{temp.cognomeop}}</td>
                    
                  </tr>
            
              </tbody>
            </table>
            <span id="msgModalReporting" style="color: red;"></span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
        <a class="btn btn-primary" ng-click="confermaAssegnazioneSegnalazione()" >Procedi</a>
      </div>
    </div>
  </div>

</div>

