
        <div class="table-responsive" style="height: 800px;" ng-controller="utentiCtrl">
            <div style="display:table; margin: 0 auto;"><p>UTENTI</p></div>
          <div style="display: inline;margin-right: 20px;margin-left: 20px;">CERCA</div>
          <input type="text" ng-model="search.nome" placeholder="Nome">
          <input type="text" ng-model="search.cognome" placeholder="Cognome">
          
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-top: 10px;">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Indirizzo</th>
                  <th>Abilitato</th>
                  <th>Blocca/Sblocca</th>
                  <th>Promuovi ad operatore</th>
                </tr>
              </thead>
             
              <tbody>
                  <tr ng-repeat="temp in data | filter:search">
                      <td>{{temp.nome}}</td>
                      <td>{{temp.cognome}}</td>
                      <td>{{temp.indirizzo}}</td>
                      <td>{{temp.abilitato}}</td>
                      <td><a class="btn btn-primary"  data-toggle="modal" data-target="#exampleModals">BLOCCA/SBLOCCA</a></td>
                      <td><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalsx">PROMUOVI AD OPERATORE</a></td>
                    </tr>
              </tbody>
            </table>
          </div>
    
    
    
    
          <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sicuro dell'operazione scelta?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Se scegli di procedere l'utente scelto sarà sboccato oppure bloccato.</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                  <a class="btn btn-primary" href="/partials/user/login.html">Procedi</a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalsx" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sicuro dell'operazione scelta?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Se scegli di procedere l'utente sarà promosso ad operatore ecologico!</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                  <a class="btn btn-primary" href="/partials/user/login.html">Procedi</a>
                </div>
              </div>
            </div>
          </div>
 