<h2 style="display: table; margin: 0 auto;">HELP</h2>
<span style="display: table; margin: 0 auto;">La seguente pagina è dedicata a chi vuole capire come utilizzare il sistema</span>

<h2>Cosa posso fare nel sistema?</h2>
<span>Nel menu laterale ,oltre alla sezione help, troviamo storico (ancora non implementato) e l'area gestione. <br>
    Cliccando su Area gestione, il menù verrà aperto per dare la possibilità all'amministratore di scegliere cosa andare a gestire nel sistema. <br>
    L'elenco delle gestioni disponibili è il seguente: 
    <li style="list-style-type: none;">
        <ul>1) Gestione utenti</ul>
        <ul>2) Gestione operatori</ul>
        <ul>3) Gestione automezzi</ul>
        <ul>4) Gestione richieste</ul>
        <ul>5) Gestione segnalazioni</ul>
    </li> 
    1) Nella gestione utenti possiamo visualizzare tutti gli utenti registrati nel sistema e cercarli per nome o cognome inoltre si può disabilitare o abilitare un utente ad effettuare richieste e segnalazioni oppure possiamo promuovere un utente ad operatore,
    questo impone che prima di inserire un operatore nel sistema questo debba essere registrato al sistema come utente. <br>
    2) Nella gestione operatori possiamo visualizzare gli operatori registrati nel sistema e se vogliamo possiamo rimuoverli , quando si rimuove un operatore tale operatore diventa un utente. La colonna Task Assegnati possiamo trovare gli id delle richieste o delle segnalazioni che sono state assegnate all'operatore.<br>
    3) Nella gestione automezzi possiamo visualizzare tutti gli automezzi registrati nel sistema ed effettuare una ricerca per targa. Le operazioni disponibili in questa gestione sono di modifica e di rimozione di un mezzo. <br>
    4) Nella gestione richieste possiamo visulizzatre tutte le richieste effettuate dagli utenti. Le operazioni disponibili sono di assegnare una richieste ad un operatore facendo ciò l'operatore potrà visualizzare la richiesta assegnata e può effetuare la raccolta. Altrimenti se una richiesta è fake o altro è possibile eliminarla. <br>
    5) La gestione delle segnalazioni è la medesima delle richiesta ma ovviamente visualizzare anche la foto allegata.
</span>